<%= form_with(model: group) do |form| %>
  <% if group.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
        <% group.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.text_field :name, required: true, placeholder: "Name", class:"session_input" %>
  </div>

  <div>
    <%= form.text_field :icon, required: true, placeholder: "Paste the link to the image here", class:"session_input" %>
    <p class="Flaticon">If you want, you can select an icon from <%= link_to "Flaticon", "https://www.flaticon.com/", :target => "_blank" %></p>
  </div>

  <div class="save_div">
    <%= form.submit "SAVE", class:"save_button" %>
  </div>
<% end %>
