<%= form_with(model: performance, url: group_performances_path) do |form| %>
  <% if performance.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(performance.errors.count, "error") %> prohibited this performance from being saved:</h2>

      <ul>
        <% performance.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name, required: true %>
  </div>

  <div>
    <%= form.label :amount, style: "display: block" %>
    <%= form.text_field :amount, required: true %>
  </div>

  <div class="chose_groups">
    <%@groups.each do |budget|%>
      <div class="chose_group">
        <p><%= budget.name %></p>
        <%= check_box_tag "budget_ids[]", budget.id, budget.id == @group.id  %>
      </div>
    <%end%>
  </div>

  <div>
    <%= form.submit "save" %>
  </div>
<% end %>
