<p style="color: green"><%= notice %></p>

<div>
  <%= link_to groups_path do %>
    <i class="fa fa-arrow-left" aria-hidden="true"></i>
    <% end %>
</div>

<h1><%= @group.name %> performance</h1>

<h2>Total amount: $0</h2>

<div id="performances">
  <% @performances.each do |performance| %>
    <%= render performance %>
  <% end %>
</div>

<%= link_to new_group_performance_path do %>
  <button>add a new transaction</button>
<% end %>