<p style="color: green"><%= notice %></p>

<%= render @performance %>

<div>
  <%= link_to "Edit this performance", edit_group_performance_path(@performance) %> |
  <%= link_to "Back to performances", group_performances_path %>

  <%= button_to "Destroy this performance", group_performance_path(@performance), method: :delete %>
</div>
